@layer pages.forgot-password {

  .forgot-password__inner {
    flex-flow: row-reverse wrap-reverse;
  }

  .forgot-password-slider::after {
    background: url("https://cdn.prod.website-files.com/5e88da4bcce5fb5debaab0e6/631632edf71c353560d71cfb_Domino_6Loops.gif") center / cover no-repeat;
  }

  .forgot-password-slider__item {

    &:nth-child(1 of &) { 
      --i: 0;
      background-image: url("https://4kwallpapers.com/images/walls/thumbs_3t/1027.jpg"); 
    }

    &:nth-child(2 of &) { 
      --i: 1;
      background-image: url("https://4kwallpapers.com/images/walls/thumbs_3t/33.jpg"); 
    }

    &:nth-child(3 of &) { 
      --i: 2;
      background-image: url("https://4kwallpapers.com/images/walls/thumbs_3t/2449.jpg");
    }

    &:nth-child(4 of &) { 
      --i: 3;
      background-image: url("https://4kwallpapers.com/images/walls/thumbs_3t/4371.jpg"); 
    }

    &:nth-child(5 of &) { 
      --i: 4;
      background-image: url("https://4kwallpapers.com/images/walls/thumbs_3t/13058.jpg"); 
    }
  }
}
