@layer pages.log-in {

  .login__inner {
    flex-wrap: wrap-reverse;
  }

  .login-slider::after {
    background: url("https://cdn.prod.website-files.com/5e88da4bcce5fb5debaab0e6/6007f2a2ccc651f896ddf8db_ezgif.com-gif-maker.gif") center / cover no-repeat;
  }

  .login-slider__item {

    &:nth-child(1 of &) { 
      --i: 0;
      background-image: url("https://4kwallpapers.com/images/walls/thumbs_3t/62.jpg"); 
    }

    &:nth-child(2 of &) { 
      --i: 1;
      background-image: url("https://4kwallpapers.com/images/walls/thumbs_3t/31.jpg"); 
    }

    &:nth-child(3 of &) { 
      --i: 2;
      background-image: url("https://4kwallpapers.com/images/walls/thumbs_3t/54.jpg");
    }

    &:nth-child(4 of &) { 
      --i: 3;
      background-image: url("https://4kwallpapers.com/images/walls/thumbs_3t/2923.jpg"); 
    }

    &:nth-child(5 of &) { 
      --i: 4;
      background-image: url("https://4kwallpapers.com/images/walls/thumbs_3t/3933.jpg"); 
    }
  }
}
