:root {

  /* Fluid Global Scales */
  /* ------------------------------------------------------------
  --ct-xl                                       ~380px – 520px
  --ct-lg                                       ~320px – 460px

  --sz-7                                        ~42px – 68px
  --sz-6                                        ~34px – 56px
  --sz-5                                        ~29px – 45px
  --sz-4                                        ~24px – 33px
  --sz-3                                        ~19px – 26px
  --sz-2                                        ~15px – 18px  
  --sz-1                                        ~13px – 15px

  --sp-3                                        ~24px – 36px
  --sp-2                                        ~16px – 24px
  --sp-1                                        ~8px – 12px

  --bw-2                                        ~2px – 3px
  --bw-1                                        ~1px – 2px
  ------------------------------------------------------------ */
  
  /* Fluid Container Widths */
  --ct-xl: clamp(23.75rem, calc(20.25rem + 14svi), 32.5rem);
  --ct-lg: clamp(20rem, calc(16.5rem + 14svi), 28.75rem);

  /* Fluid Font Scales */
  --sz-7: clamp(2.625rem, calc(1.975rem + 2.6svi), 4.25rem);
  --sz-6: clamp(2.125rem, calc(1.575rem + 2.2svi), 3.5rem);
  --sz-5: clamp(1.8125rem, calc(1.4125rem + 1.6svi), 2.8125rem);
  --sz-4: clamp(1.5rem, calc(1.275rem + 0.9svi), 2.0625rem);
  --sz-3: clamp(1.1875rem, calc(1.0125rem + 0.7svi), 1.625rem);
  --sz-2: clamp(0.9375rem, calc(0.8625rem + 0.3svi), 1.125rem);
  --sz-1: clamp(0.8125rem, calc(0.7625rem + 0.2svi), 0.9375rem);

  /* Fluid Spacing Steps */
  --sp-3: clamp(1.5rem, calc(1.2rem + 1.2svi), 2.25rem);
  --sp-2: clamp(1rem, calc(0.8rem + 0.8svi), 1.5rem);
  --sp-1: clamp(0.5rem, calc(0.4rem + 0.4svi), 0.75rem);

  /* Fluid Stroke Widths */
  --bw-2: clamp(0.125rem, calc(0.1rem + 0.1svi), 0.1875rem);
  --bw-1: clamp(0.0625rem, calc(0.0375rem + 0.1svi), 0.125rem);

  /* Static Global Scales */
  /* ------------------------------------------------------------
  --px-1                                          ~1px
  --px-2                                          ~2px
  --px-3                                          ~3px

  --rd-1                                          ~5px
  --rd-2                                          ~10px
  --rd-3                                          ~15px
  --rd-4                                          ~20px

  --w-mx                                          ~1450px
  ------------------------------------------------------------ */
  
  /* Static Pixel Offsets */
  --px-1: 0.063rem;
  --px-2: 0.125rem;
  --px-3: 0.188rem;

  /* Corner Radius Steps */
  --rd-1: 0.313rem;
  --rd-2: 0.625rem;
  --rd-3: 0.938rem;
  --rd-4: 1.25rem;

  /* Max Layout Boundaries */
  --w-mx: 90.625rem;

  /* Semantic Font Tokens */
  /* ------------------------------------------------------------
  --fs-dsp                                        Display
  --fs-ttl                                        Title
  --fs-xl                                         Extra large
  --fs-lg                                         Large
  --fs-md                                         Medium
  --fs-bd                                         Body
  --fs-cp                                         Caption
  ------------------------------------------------------------ */
  
  --fs-dsp: var(--sz-7);
  --fs-ttl: var(--sz-6);
  --fs-xl: var(--sz-5);
  --fs-lg: var(--sz-4);
  --fs-md: var(--sz-3);
  --fs-bd: var(--sz-2);
  --fs-cp: var(--sz-1);

  /* Vertical Type Rhythm */
  /* ------------------------------------------------------------
  --text-tight                           Headings & Display
  --text-base                            Body text & Paragraphs
  --text-loose                           Lead paragraphs
  --flow-tight                           Between list items
  --flow-base                            Between paragraphs
  --flow-loose                           Before sections
  ------------------------------------------------------------ */
  
  --text-tight: 1.25;
  --text-base: 1.5;
  --text-loose: 1.75;
  --flow-tight: var(--sp-1);
  --flow-base: var(--sp-2);
  --flow-loose: var(--sp-3);

  /* Custom Layout Vectors */
  --shape: shape(from 0 100%,vline to 1.5625rem,curve to 1.24% 0.9688rem with 0.83% 0.9375rem,curve to 2.07% 0.5625rem with 1.65% 1rem,curve to 2.89% 1.25rem with 2.48% 0.125rem,curve to 3.72% 2.75rem with 3.31% 2.375rem,curve to 4.55% 1.7188rem with 4.13% 3.125rem,curve to 5.37% 1.2812rem with 4.96% 0.3125rem,curve to 6.2% 1.4688rem with 5.79% 2.25rem,curve to 7.02% 0.6562rem with 6.61% 0.6875rem,curve to 7.85% 0.3438rem with 7.44% 0.625rem,curve to 8.68% 0.5938rem with 8.26% 0.0625rem,curve to 9.5% 0.7188rem with 9.09% 1.125rem,curve to 10.33% 1.25rem with 9.92% 0.3125rem,curve to 11.16% 1.4375rem with 10.74% 2.1875rem,curve to 11.98% 1.75rem with 11.57% 0.6875rem,curve to 12.81% 1.5312rem with 12.4% 2.8125rem,curve to 13.64% 1.5938rem with 13.22% 0.25rem,curve to 14.46% 2.7812rem with 14.05% 2.9375rem,curve to 15.29% 1.9375rem with 14.88% 2.625rem,curve to 16.12% 1.6562rem with 15.7% 1.25rem,curve to 16.94% 1.4688rem with 16.53% 2.0625rem,curve to 17.77% 0.8438rem with 17.36% 0.875rem,curve to 18.6% 1.6562rem with 18.18% 0.8125rem,curve to 19.42% 2.5625rem with 19.01% 2.5rem,curve to 20.25% 1.7812rem with 19.83% 2.625rem,curve to 21.07% 0.4688rem with 20.66% 0.9375rem,curve to 21.9% 0.7812rem with 21.49% 0rem,curve to 22.73% 1.7188rem with 22.31% 1.5625rem,curve to 23.55% 1.75rem with 23.14% 1.875rem,curve to 24.38% 1.6875rem with 23.97% 1.625rem,curve to 25.21% 2.125rem with 24.79% 1.75rem,curve to 26.03% 1.75rem with 25.62% 2.5rem,curve to 26.86% 1.9375rem with 26.45% 1rem,curve to 27.69% 2.3125rem with 27.27% 2.875rem,curve to 28.51% 1.4688rem with 28.1% 1.75rem,curve to 29.34% 0.75rem with 28.93% 1.1875rem,curve to 30.17% 0.6875rem with 29.75% 0.3125rem,curve to 30.99% 1.4062rem with 30.58% 1.0625rem,curve to 31.82% 1.8438rem with 31.4% 1.75rem,curve to 32.64% 1.4688rem with 32.23% 1.9375rem,curve to 33.47% 2rem with 33.06% 1rem,curve to 34.3% 1.875rem with 33.88% 3rem,curve to 35.12% 1.6875rem with 34.71% 0.75rem,curve to 35.95% 2.5625rem with 35.54% 2.625rem,curve to 36.78% 2.0625rem with 36.36% 2.5rem,curve to 37.6% 1.5rem with 37.19% 1.625rem,curve to 38.43% 1.8125rem with 38.02% 1.375rem,curve to 39.26% 2.125rem with 38.84% 2.25rem,curve to 40.08% 1.7812rem with 39.67% 2rem,curve to 40.91% 1.5625rem with 40.5% 1.5625rem,curve to 41.74% 1.1875rem with 41.32% 1.5625rem,curve to 42.56% 0.9062rem with 42.15% 0.8125rem,curve to 43.39% 0.8125rem with 42.98% 1rem,curve to 44.21% 1rem with 43.8% 0.625rem,curve to 45.04% 1.1562rem with 44.63% 1.375rem,curve to 45.87% 0.5312rem with 45.45% 0.9375rem,curve to 46.69% 1.5rem with 46.28% 0.125rem,curve to 47.52% 2.5rem with 47.11% 2.875rem,curve to 48.35% 2.2812rem with 47.93% 2.125rem,curve to 49.17% 1.2188rem with 48.76% 2.4375rem,curve to 50% 0.6875rem with 49.59% 0rem,curve to 50.83% 1.25rem with 50.41% 1.375rem,curve to 51.65% 1.5rem with 51.24% 1.125rem,curve to 52.48% 1.7812rem with 52.07% 1.875rem,curve to 53.31% 1.4375rem with 52.89% 1.6875rem,curve to 54.13% 1.6875rem with 53.72% 1.1875rem,curve to 54.96% 2.25rem with 54.55% 2.1875rem,curve to 55.79% 2.1875rem with 55.37% 2.3125rem,curve to 56.61% 1.5rem with 56.2% 2.0625rem,curve to 57.44% 1.4062rem with 57.02% 0.9375rem,curve to 58.26% 1.3438rem with 57.85% 1.875rem,curve to 59.09% 1.5625rem with 58.68% 0.8125rem,curve to 59.92% 1.75rem with 59.5% 2.3125rem,curve to 60.74% 1.4688rem with 60.33% 1.1875rem,curve to 61.57% 1rem with 61.16% 1.75rem,curve to 62.4% 1.0625rem with 61.98% 0.25rem,curve to 63.22% 2.375rem with 62.81% 1.875rem,curve to 64.05% 1.5625rem with 63.64% 2.875rem,curve to 64.88% 0.2812rem with 64.46% 0.25rem,curve to 65.7% 0.1875rem with 65.29% 0.3125rem,curve to 66.53% 1.5312rem with 66.12% 0.0625rem,curve to 67.36% 2.7188rem with 66.94% 3rem,curve to 68.18% 1.7812rem with 67.77% 2.4375rem,curve to 69.01% 1.5312rem with 68.6% 1.125rem,curve to 69.83% 2.3125rem with 69.42% 1.9375rem,curve to 70.66% 2.5625rem with 70.25% 2.6875rem,curve to 71.49% 1.875rem with 71.07% 2.4375rem,curve to 72.31% 1.0625rem with 71.9% 1.3125rem,curve to 73.14% 0.9062rem with 72.73% 0.8125rem,curve to 73.97% 1.8438rem with 73.55% 1rem,curve to 74.79% 2.5938rem with 74.38% 2.6875rem,curve to 75.62% 1.6875rem with 75.21% 2.5rem,curve to 76.45% 0.6562rem with 76.03% 0.875rem,curve to 77.27% 1.3125rem with 76.86% 0.4375rem,curve to 78.1% 1.1562rem with 77.69% 2.1875rem,curve to 78.93% 0.75rem with 78.51% 0.125rem,curve to 79.75% 1.5312rem with 79.34% 1.375rem,curve to 80.58% 1.2188rem with 80.17% 1.6875rem,curve to 81.4% 0.7188rem with 80.99% 0.75rem,curve to 82.23% 1.4375rem with 81.82% 0.6875rem,curve to 83.06% 2.4375rem with 82.64% 2.1875rem,curve to 83.88% 2.5625rem with 83.47% 2.6875rem,curve to 84.71% 1.5rem with 84.3% 2.4375rem,curve to 85.54% 0.875rem with 85.12% 0.5625rem,curve to 86.36% 1.7812rem with 85.95% 1.1875rem,curve to 87.19% 2.5312rem with 86.78% 2.375rem,curve to 88.02% 2.3438rem with 87.6% 2.6875rem,curve to 88.84% 1.9375rem with 88.43% 2rem,curve to 89.67% 1.3125rem with 89.26% 1.875rem,curve to 90.5% 0.5rem with 90.08% 0.75rem,curve to 91.32% 1.25rem with 90.91% 0.25rem,curve to 92.15% 2.6562rem with 91.74% 2.25rem,curve to 92.98% 1.9688rem with 92.56% 3.0625rem,curve to 93.8% 1.1562rem with 93.39% 0.875rem,curve to 94.63% 0.9062rem with 94.21% 1.4375rem,curve to 95.45% 1.4688rem with 95.04% 0.375rem,curve to 96.28% 1.5625rem with 95.87% 2.5625rem,curve to 97.11% 0.5625rem with 96.69% 0.5625rem,curve to 97.93% 1.4688rem with 97.52% 0.5625rem,curve to 98.76% 1.875rem with 98.35% 2.375rem,curve to 100% 1.5625rem with 99.17% 1.375rem,vline to 100%, hline to 0);
}
