/* Box model & Spacing reset */
:where(*, *::before, *::after) {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Media Defaults */
:where(img, video, canvas, audio, iframe, embed, object) {
  display: block;
  block-size: auto;
  max-inline-size: 100%;
}

/* List Reset */
:where(dl, ol, ul)[role="list"] {
  list-style: none;
}

/* Form Elements & Button resets */
:where(select, textarea, button, [data-ui="btn"], [data-ui="link"], 
       input:not(:is([type="checkbox"], [type="radio"]))) {
  all: unset;
  /* Intentional: restores after all: unset */
  box-sizing: border-box;
}
